<div class="upload-container">
  <h2>Upload Files</h2>

  <input type="file" multiple (change)="onFilesSelected($event)" />

  <div *ngIf="uploadProgress !== null" class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="uploadProgress"></div>
    <span>{{ uploadProgress }}%</span>
  </div>

  <div *ngIf="generatedUrls.length > 0" class="generated-links">
    <h3>Shareable Links</h3>
    <ul>
      <li *ngFor="let url of generatedUrls">
        <a [href]="url" target="_blank">{{ url }}</a>
        <button (click)="copyLink(url)">Copy</button>
      </li>
    </ul>
  </div>
</div>
